.fondo1 {
  background-image: url('https://i.pinimg.com/originals/0c/de/89/0cde893aa523feb957887ecac7eda05a.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; /* ajusta la altura para que ocupe todo el espacio disponible */
  display: flex;
  justify-content:center;
  align-items:flex-start;
}


.fondo{
  background-image: url('\img.fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.link {
  color: rgb(252, 255, 69);
  text-decoration:dotted;
animation:rotate-center 0.4s}
 @keyframes rotate-center{
  0%{transform:rotate(0)}
100%{transform:rotate(360deg)}}
.container{

scale: 0.8;
    background-color:aqua;
    width:min-content;
    padding: 3em;
    text-shadow: 2px 3px 0px orangered;
    margin:25px;
    border-radius:10px;
   
   
    box-shadow: 0 0 25px 0 aqua;
    filter:blur(8px),contrast(25px);
    cursor:pointer;
    background: linear-gradient( 45deg,
    aqua,rgb(107, 9, 255),deeppink,rgb(238, 95, 0),rgb(107, 9, 255),aqua,rgb(107, 9, 255),deeppink,rgb(107, 9, 255));
    background-size: 400%;
  
  animation:glowing 20s linear infinite;
  }
  @keyframes glowing{
   0%{
  background-position: 0 0 ;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}
  .container::before {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    filter:blur(1px);
    animation:glowing 30s linear infinite;
    z-index:-1;
  }
  
.closeButton{
    border: 0px;
    background-color: red;
     border-radius: 15px;
     width: fit-content;
     height: fit-content;
    transition: 0.5s;
    color:aqua
}
.closeButton:hover{
    box-shadow: 0px 5px 29px 15px orangered;
}

